body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login{
  border-right:1px solid rgba(65,65,65,0.3);
}

@font-face {
  font-family: 'euro';
  src: local('euro'), url(http://fonts.cdnfonts.com/css/eurostile-extended) format('truetype');
}